body,
#cover section::after {
    background: linear-gradient(-55deg, #25AF5A, #f6d435, #D24117);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientBG 2s ease infinite;
}

h2,
section,
dialog {
    font-family: "Arial", "Yu Gothic", sans-serif;
    font-weight: 600;
}

#cover {
    background: #eee;
    float: left;
}

#cover h2,
#schedule h2 u,
section b {
    background: #fff;
}

section h3 u,
section h4 u,
section p u,
#cover section::after {
    color: #fff;
}

section h3 u,
section h4 u,
section p u {
    background: #25AF5A;
}

#cover h2,
#schedule h2 u,
section a {
    color: #D24117;
}

section a {
    background: #f6d435;
}

section u,
section a {
    text-decoration: none;
}

hr {
    border: none;
    clear: both;
    width: 100%;
}

#cover,
#cover section::after {
    display: grid;
    place-items: center;
}

#cover {
    width: 50rem;
    margin: 0.5rem;
}

@media (max-width: 1200px) {
    html {
        font-size: 2.25vw;
    }

    #cover {
        width: calc(100% - 1rem);
    }
}

@media (orientation: portrait) {
    html {
        font-size: 2.25vw;
    }

    #cover {
        width: calc(100% - 1rem);
    }
}

@media print {
    @page {
        size: A4 portrait;
    }

    body {
        min-height: 100vh;
    }

    #cover,
    #schedule {
        display: grid;
        height: calc(100vh - 1rem);
    }

    #schedule {
        padding: 1rem;
    }
}

#cover section {
    position: relative;
    margin: 2.5rem auto 0;
    width: calc(100% - 5rem);
}

#cover section::after {
    content: "大募集";
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

section u,
section b {
    display: inline-block;
    padding: 0 0.4rem;
    letter-spacing: 0.11rem;
}

section u {
    margin: 0 0.5rem 0.5rem 0;
}


#cover h2 {
    padding: 0.5rem 1rem;
}

#cover h1 {
    padding: 5rem;
    margin: 0;
}

#schedule {
    padding: 0.5rem;
    margin: 0;
}

#schedule h2,
#schedule p {
    padding: 0;
    margin: 0;
}

h1,
.logo *[data-dai]::before,
#cover section::after {
    font-size: 250%;
}

section p {
    font-size: 175%;
    font-weight: 600;
}

section h3,
section h4 {
    font-size: 150%;
    font-weight: 600;
    line-height: 175%;
}

#cover h2 {
    font-size: 100%;
}

#schedule {
    font-size: 90%;
}

#chishima img {
    margin-bottom: -0.75rem;
    width: 20rem;
}

dialog button {
    appearance: none;
    color: #000;
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 125%;
    text-decoration: solid underline #D24117;
    padding: 0;
    margin: 0;
    float: right;
}