.question {
    position: sticky;
    top: 0;
    background: #fff;
}

.question {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
}

.question h4 {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.question h3,
.question h4 input+label,
.question h4 a,
.question h4::after,
.question strong,
.question small {
    display: block;
    font-weight: 500;
    text-align: center;
}

.question h4 input+label,
.question small {
    padding: 0.5rem;
}

.question h3 {
    padding: 1rem;
}

.question h3 small {
    margin-top: 2rem;
}

@media (orientation: portrait) {
    .question h4 {
        flex-flow: column;
        gap: 1rem;
    }

    .question h4 input+label {
        padding: 1.5rem 0.5rem;
    }
}

@media print {
    .question {
        display: grid;
        font-size: 65%;
        height: 50vh;
        min-height: 50vh;
        max-height: 50vh;
    }

    .question h3 {
        margin: 0;
    }

    .question h3 small {
        margin-top: 1rem;
    }

    .question h4 {
        flex-flow: wrap;
    }

    .question h4 input+label {
        padding: 0;
    }
}

.question h4::after {
    content: "or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question h3 {
    font-size: 150%;
}

.question h4 {
    font-size: 111%;
}

.question strong {
    font-size: 125%;
}

.question h4 input+label,
.question h4 a {
    font-size: 111%;
    font-style: italic;
}

.question h4::after {
    font-size: 100%;
}

.question small {
    font-size: 75%;
    font-style: normal;
}

a,
input+label {
    color: black;
    text-decoration: none;
    transition: 1s;
}

a:hover,
input+label:hover {
    cursor: pointer;
}

a:hover,
input+label:hover,
input:checked+label {
    color: red;
}

[hidden],
.question h4 input {
    display: none;
}